.solo-lectura {
    pointer-events: none;
    background-color: #f2f2f2; /* Color de fondo para indicar que es de solo lectura */
    /* Otros estilos adicionales según tu preferencia */
}

/* Estilo del interruptor */
/* Estilo del interruptor */
.switch {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    width: 40px; /* Ajustar el ancho del interruptor */
    height: 20px; /* Ajustar la altura del interruptor */
}

/* Oculta el input original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px; /* Ajustar el radio del borde */
}

/* Cambia el color del slider cuando está activo */
.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Ajustar la altura del slider */
    width: 16px; /* Ajustar el ancho del slider */
    left: 2px; /* Ajustar el margen izquierdo del slider */
    bottom: 2px; /* Ajustar el margen inferior del slider */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px); /* Ajustar la posición del slider cuando está activo */
    -ms-transform: translateX(20px); /* Ajustar la posición del slider cuando está activo */
    transform: translateX(20px); /* Ajustar la posición del slider cuando está activo */
}

.invisible {
    position: absolute;
    opacity: 0;
}